@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: darkslategray;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
    color: crimson;
}

h1 {
    
    font-size: 60px;
}

p {
 
    font-size: 150px;    
    border: solid 4px darkgray;
}

span {
    font-size: 100px;
}
